<h1>Contact Info</h1>
<br>
<h5>If you have have any job opportunities that match my skillset and interests, I would love to get in touch with you!</h5>
<br>
<p><span>Feel free to contact me at:</span> <a href="mailto:jonchan6@gmail.com">jonchan6@gmail.com</a> </p>
<br>
<p><span>Also, take a look at my LinkedIn profile as well:</span><a href="http://www.linkedin.com/pub/jonathan-chan/52/481/947" target="_blank"> Go to my LinkedIn page</a></p>