
<div>
	<div class="centered_table">
	<div class="centered_cell">
		<%= image_tag "portrait.jpg" %>
	</div>
	</div>
	<div>
		<h1>A Little Bit About Me</h1>
		<p>
		I am currently studying Computer Science at the University of British Columbia and will be graduating with a second Bachelor’s degree in May of 2014. Before I entered Computer Science, I previously studied and graduated with a Bachelor's of Science in Chemistry with a minor in Psychology. Since starting my Computer Science degree at UBC, I have had a steady interest in studying human-computer interaction (HCI). In the future, I hope to have a career in the field of HCI, where I will be able to design intuitive user interfaces for innovative technologies. 
		</p>
	</div>
</div>
