
<div>
	<div class="centered_table">
	<div class="centered_cell">
		<%= image_tag "portrait.jpg" %>
	</div>
	</div>
	<div>
		<h3>A Little Bit About Me</h3>
		<p>
		I am currently studying Computer Science at the University of British Columbia and will be graduating with a second Bachelor’s degree in May. Since starting his Computer Science degree at UBC, I have had a steady interest in studying human-computer interaction (HCI). In the future, he hopes to establish his career in the field of HCI, where he will be able to design intuitive user interfaces for innovative technologies. 
		</p>
	</div>
</div>
