
<div class="media">
	<a class="pull-left" href="#">
		<%= image_tag "portrait.jpg" %>
	</a>
	<div class="media-body">
		<h4 class="media-heading">A Little Bit About Me</h4>
		<p>
		Jonathan is studying Computer Science at the University of British Columbia and will be graduating with a second Bachelor’s degree in May. Since starting his Computer Science degree at UBC, Jonathan has had a steady interest in studying human-computer interaction (HCI). In the future, he hopes to establish his career in the field of HCI, where he will be able to design intuitive user interfaces for innovative technologies.
		</p>
	</div>
</div>
