<h1>Personal Projects</h1>
<br>
<br>
	<div class="centered_table">
	<div class="centered_cell">
		<%= image_tag "portfolio.png" %>
	</div>
	</div>
<h3>This E-Portfolio!</h3>
<p>I created this portoflio for three main reasons. First, I wanted to collect and showcase my past projects, experience and accomplishments for others to see. It is also a place for me to highlight and the record the process and learning outcomes for each project or accomplishment. Second, I was using this as a way of learning Ruby on Rails. This is my first project using this intriguing web framework and I hope to continue to create exciting web applications. Through this project, I also learned to create a mobile-friendly website. Also, the best way to learn something new is to always try it yourself! And lastly, I need to find a job. Going to school is a blast, but I will be graduating soon, and I want to start using my wealth of knowledge to create applications and utilize technology to help others in their daily lives.</p>
<p><span>Skills acquired: </span>Ruby on Rails, Model-View-Controller Pattern, Responsive Web Design, Sass, CSS, HTML </p>
<br>
<br>
<br>
<br>
<div class="section_blue">
<h1>Academic Projects</h1>
<br>
<br>
	<div class="centered_table">
	<div class="centered_cell">
		<%= image_tag "mall_directory.png" %>
	</div>
	</div>
<h3>Improving the User Interface of a Mall Directory</h3>
<p>In a school course based on human-computer interaction, my team and I decided to improve on the user interface of a mall directory. We felt that current mall directories are inadequate in helping shoppers quickly find store locations in a mall. By conducting questionnaires and interviews with mall shoppers, store managers and customer service representatives, we not only validated the need for an improved interface, but we also identified the problems with the current iteration. These problems included the confusing use of letters and numbers to map stores, the fact that directories are static and immobile, and the inability to quickly plot the fastest route to a desired store. We settled on creating a mobile application, which allowed us to create functionality that would solve many of the problems that were outlined from our market research. At each stage of the process, we developed a prototype and had users evaluate them using a variety of user evaluation techniques, including cognitive walkthroughs and think-aloud observations. The purpose of doing multiple iterations is to confirm whether our system behaviour matches the user's task requirements.
<p><span>Course: </span>CPSC 344 - Human-Computer Interaction</p>
<p><span>Skills acquired: </span>paper prototyping, use of wireframing tools(Balsamiq, FluidUI), conducting observation studies, forming questionnaires and surveys</p>
<br>
<br>
<br>
	<div class="centered_table">
	<div class="centered_cell">
		<%= image_tag "tree_viewer.png" %>
	</div>
	</div>
<h3>Web Application for Reporting Vandalism of Trees</h3>
<p>My team designed an developed a web application that allowed users to report vandalism and share their interests in trees with other tree lovers. We imported and parsed large datasets about individual trees located in the lower mainland. After parsing and storing the data, we then created a search function to allow users to look for trees that they liked, and even plot a route between multiple trees so they can set up tours. We also created a commenting and reporting system to allow users to leave comments about the trees they liked. If they found a tree that was vandalized, they can report it as well and an administrator would be able to dispatch a government worker to take a look. To further enhance the social capabilities, we implemented Facebook functionality where you can share your favourite trees to your friends. During this software development process, we followed the Agile methodology, from creating user stories, to holding scrums, to doing sprint planning and user story estimation.</p>
<p><span>Course: </span>CPSC 310 - Software Engineering</p>
<p><span>Skills acquired: </span>Java, GWT, XML, Google App Engine</p>
