<h1>Technical Skills</h1>
<h3>Programming Languages</h3>
<p><span>Advanced: </span>Java, CSS, HTML, JSON</p>
<p><span>Intermediate: </span>Ruby, Javascript, XML, SQL/Oracle SQL</p>
<p><span>Novice: </span>C++</p>
<br>
<h3>General Programming Knowledge/Processes</h3>
<p><span>Advanced: </span> REST, Object-Oriented Programming, MVC, Agile Methodology</p>
<p><span>Intermediate: </span>database design, user interface design, wireframing</p>
<p><span>Novice: </span>none</p>
<br>
<h3>Frameworks</h3>
<p> <span>Advanced: </span>jQuery, Twitter Bootstrap</p>
<p><span>Intermediate: </span>Spring, Ajax, GWT</p>
<p><span>Novice: </span>Ruby on Rails, Android OS</p>
<br>
<h3>Tools/Environments</h3>
<p><span>Advanced: </span> Eclipse, Git</p>
<p><span>Intermediate: </span>Command Line</p>
<p><span>Novice: </span>Xcode, Microsoft Visual Studio, Android SDK</p>
<br>
<br>
<h1>Education</h1>
<h3>University of British Columbia, Vancouver, BC</h3>
<br>
<ul>
	<li><span>Bachelor of Computer Science: September 2011 – present</span></li>
	<ul><li>Accelerated 20-month 2nd degree program plus 8-month Co-op </li></ul>
<br>
	<li><span>B.Sc. in Chemistry; minor in Psychology: September 2006 - May 2011</span></li>
	<ul><li>Completed 16 months of Co-op </li></ul>
</ul>
