<h1>Work Experience</h1>
<br>
<br>
<h3>Telus</h3>
<h4>From May to August 2014</h4>
<ul>
<li>Developed a system environment web application for Telus</li>
<ul>
		<li>Improved transparency of status information and updates about various system environments which led to less confusion among users</li>
		<li>Created a simpler interface which allowed easier access to important information and functions while still providing accurate and concise status updates for applications</li>
</ul>
	<li>Demonstrated ability to learn quickly by teaching myself Javascript, JQuery, Twitter Bootstrap, HTML and CSS in a couple of weeks and being able to produce a quick prototype of the new interface in a short amount of time</li>
	<li>Developed the data model and implemented it in Oracle SQL</li>
	<li>Built web application following RESTful Web Service guidelines</li>
	<li>Worked independently by scheduling meetings with different stakeholders to gather requirements and by giving weekly progress reports </li>
	<li>Gathered requirements from stakeholders and designed use cases while following the waterfall software development lifecycle</li>
	<li>Skills: Java, Javascript, JQuery, CSS, HTML, Spring, Twitter Bootstrap, REST, Oracle SQL</li>
</ul>
<br>
<br>
<h3>NetApp</h3>
<h4>From September to December 2014</h4>
<ul>
	<li>Designed and developed a Ruby script that automatically parsed through data logs for failures and posted them onto a wiki page that allowed fellow QA engineers to quickly locate problems</li>
	<ul>
		<li>Utilized Nokogiri to parse HTML log files and to collect failures for each test run</li>
		<li>Automatically uploaded data to Wiki pages and used the data to create trend graphs to make it easier for users to notice any oddities during test runs</li>
	</ul>
	<li>Created and executed manual test cases for software features</li>
	<li>Created and developed automated test cases in Ruby that ran on a daily basis</li>
	<li>Demonstrated the ability to quickly adapt to and learn about NetApp’s data storage architecture and solutions by picking up and completing different tasks on a weekly basis</li>
	<li>Skills: Ruby, Linux, Nokogiri, Mechanize, Scruff, rbvmomi</li>
</ul> 
