<h1>Work Experience</h1>
<div class='section'>
	<h3>Telus</h3>
	<h4>From May to August 2013</h4>
	<h4>Position: Software Developer</h4>
	<h4>Skills: Java, Javascript, JQuery, CSS, HTML, Spring, Twitter Bootstrap, REST, Oracle SQL</h4>
	<p>At Telus, my main responsiblity was to improve on their current system environment web application. Part of the requirements were to improve on how information about system environment changes were being relayed to developers and testers. This included creating a simpler interface which allowed for easier access to important information and functions while still providing accurate and concise status updates. </p>

	<p>During my time at Telus, I demonstrated the ability to learn quickly and to work independently. I learned to create the web application by teaching myself the Spring framework, Javascript, jQuery, Twitter Boostrap, HTML and CSS and quickly coming up with a prototype in a couple of weeks. I also had to design, and implement the database through Oracle SQL and devlop the web application using REST. During the requirements gathering phase, I had to independently schedule meetings with different stakeholders with little guidance from my manager. </p>
</div>
<br>
<div class='section'>
	<h3>NetApp</h3>
	<h4>From September to December 2012</h4>
	<h4>Position: QA Intern</h4>
	<h4>Skills: Ruby, Linux, Nokogiri, Mechanize, Scruff, rbvmomi, Agile Methodology</h4>
	<p>During my time at NetApp, I was a QA intern and participated in developing and maintaining the test suite for one of their complex data storage software. I demonstrated that I was a quick learner picking up Ruby and understanding their software architecture in a short amount of time. Then I applied what I had learned by developing test scripts that would be running on a nightly basis. One of my responsibilities was to create a Ruby script that automatically parsed through data logs for failures and posted them onto a wiki page. This allowed fellow developers and QA engineers to quickly locate problems in their builds. To create this script, I utilized Nokogiri to parse HTML log files for collecting failures for each test run. After collecting and organizing all the data, the script would automatically upload it to the company's internal Wiki pages. It would also use the data to create trend graphs which made it easier for users to notice any oddities over a general time period.  While working there, I learned about developing software following the Agile methodology. I participated in all aspects, including sprint planning, daily scrum, and sprint retrospective. </p>
</div>

