<h1>Work Experience</h1>
<br>
<br>
<h3>Telus</h3>


<br>
<br>
<h3>NetApp</h3>
<h4>From September to December 2014</h4>
<ul>
	<li>Designed and developed a Ruby script that automatically parsed through data logs for failures and posted them onto a wiki page that allowed fellow QA engineers to quickly locate problems</li>
	<ul>
		<li>Utilized Nokogiri to parse HTML log files and to collect failures for each test run</li>
		<li>Automatically uploaded data to Wiki pages and used the data to create trend graphs to make it easier for users to notice any oddities during test runs</li>
	</ul>
</ul> 
