@import "bootstrap";

.navbar-custom {
	border-radius: 0px;
	background-color: #59BAFF;
	border-color: #59BAFF;
	margin-bottom: 40px;
}

.navbar .navbar-nav {
  	display: inline-block;
  	float: none;
}

.navbar .navbar-nav > li > a {
	font-size: 20px;
  	color: #363636;
}
.navbar .navbar-collapse {
  	text-align: center;
}

.centered_table {
	display: table;
	height:inherit;
	margin-left:auto;
	margin-right:auto;
	width:40%;
}

.centered_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header-name {
	padding:10px;
	font-size: 60px;
	font-weight: 800;	
}

.header-comments {
	padding: 10px;
	font-style: italic;
	font-size: 25px;
}

.footer {
	margin-top:20px;
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 14px;
	font-style: italic;
	background-color: #292929;
	color: #E6E6E6;

}
.header_image {
height:500px;
background-image: asset-url("autumn_bench.jpg");
background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
}

.transparent_layer {
	background-color:rgba(255,255,255,0.6);
}

.portrait {
	width: 10px;
}